<li class="search-result list-group-item">
    <div class="row">
      <div class="col-1">
        <span><%= number %>.</span>
      </div>
      <div class="col-10">
        <%= time_ago_in_words(
          search_result['commit']['committer']['date']
        ).titleize %>
        <%= link_to(
          search_result['author']['login'],
          search_result['author']['html_url']
        ) %>
        committed on
        <%= link_to(
          search_result['repository']['full_name'],
          search_result['repository']['html_url']
        ) %>
        <br>
        <%= fa_icon 'quote-left' %>
        <%= sanitize(
          excerpt(
            highlight(search_result['commit']['message'], q.split(' ')),
            '</mark>',
            radius: 100
          ),
          tags: %w(mark)
        ) %>
        <%= fa_icon 'quote-right' %>
        <br>
        <%= link_to('Go to commit', search_result['html_url'], class: 'card-link') %>
        <br>
        <%= link_to(
          'Show meme',
          meme_path(
            text: sanitize(
              excerpt(
                highlight(search_result['commit']['message'], q.split(' ')),
                '</mark>',
                radius: 100
              )
            )
          )
        ) %>
        <br>
        <%= form_for(commit) do |f| %>
          <%= f.hidden_field(:q, value: q) %>
          <%= f.hidden_field(:sha, value: search_result['sha']) %>
          <%= f.hidden_field(:message, value: search_result['commit']['message']) %>
          <%= f.hidden_field(:url, value: search_result['html_url']) %>
          <%= f.hidden_field(:user, value: search_result['author']['login']) %>
          <%= f.hidden_field(:user_url, value: search_result['author']['html_url']) %>
          <%= f.hidden_field(:repo, value: search_result['repository']['full_name']) %>
          <%= f.hidden_field(:repo_url, value: search_result['repository']['html_url']) %>
          <%= f.hidden_field(:committed_at, value: search_result['commit']['committer']['date']) %>
          <%= f.submit('Save Commit', name: 'form_commit', class: 'btn btn-primary') %>
        <% end %>
      </div>
    </div>
</li>
